.searchIcon {
    cursor: pointer;
    font-size: 18px;
    margin-left: auto;
    transition: transform 0.2s ease;
}

.searchIcon:hover {
    transform: scale(1.2);
}

.scrolled {
    background-color: white;
}

.hamburger button {
    padding: 10px;
}

.hamburger {
    display: block;
    color: black;

}

.hamburgerClicked {
    background-color: white;

}

.navListMobile {
    padding: 0;
    color: white;

}

.navListMobile li:hover {
    background-color: lightgray;
}

.liMobile {
    font-size: x-large;
    padding: 5px 12px;
    list-style-type: none;
    cursor: pointer;
}